
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá Malvado favorito, <%= @user.name %></h1>
    <p>
      Você acaba de reservar o Minion <%= @minion.name %>,
      esperamos que ele faça uma boa destruição.<br>
    </p>
    <p>
      Para aumentar sua horda de Minions, reserve agora mesmo pelo endereço: <%= @url %>.
    </p>
    <p>Obrigado por contratar os serviços da MM's - Minions Market!</p>
  </body>
</html>